body {
	background-image: url('background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    height: 100%;
	font-family: 'Poiret One', cursive;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: white;
}

a:hover {
	color: yellow;
}

h2 {
	color: white;
}

.navbar {
    position: relative;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

.col-lg-4 {
	text-align: center;
}

.main {
	width: 330px;
	margin-left: 2%;
	margin-right:2%;
}

.main .glyphicon {
    font-size: 0.5em;
}

.cover {
	background-color: white;
	margin-top: 2%;
}

.text {
	text-align: center;
	font-size: 1.5em;
	color: white;
	margin-top: 7%;
}

a.menutext {
	color: black;
}
/* Restaurants hover effect*/
.restaurants {
    position:relative;
    height: 300px;
    width: 300px;
    overflow:hidden;
    background-color:rgba(26,76,110,0.5)
}

.restaurants h2 {
    line-height:45px;
    margin:0;
}

.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}

.effect img.top:hover {
    bottom:-50px;
    padding-top:100px
}

.info_header {
    background-color: white !important;
    border-style: none;
    text-align: center;
}

.info_panel {
    text-align: center;
}

#signInButton {
    margin-top: 2%;
}