{% extends "base.html" %}
{% block title %}Delete {{restaurant.name}}{% endblock %}
{% block goback %}<a href="{{url_for('showRestaurant')}}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Go back</a>{% endblock %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading info_header"></div>
    <div class="panel-body info_panel">
      <h3>Do you really want to delete {{restaurant.name}}?</h3>
      <form action="{{url_for('deleteRestaurant', restaurant_id=restaurant_id )}}" method='POST'>
        <button type="submit" class="btn btn-danger">Delete</button>
  	  </form>
    </div>
  </div>
{% endblock %}