{% extends "base.html" %}
{% block goback %}<a href="{{url_for('showRestaurant')}}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Go back</a>{% endblock %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading headerlogin" id="result"></div>
    <div class="panel-body login">
      <img src="http://images.clipartpanda.com/spoon-and-fork-png-45332.png" height="100px" width="100px">
      <h1>Restaurant Catalog</h1>
      <h3>A list of restaurants and their menus</h3>
      <!-- Google Sign in Button -->
      <div id="signInButton">
  	    <span class="g-signin"
		  data-scope="openid email"
		  data-clientid="547653842858-araamhbgrphge96l4c48e51d1cahaqtu.apps.googleusercontent.com"
		  data-redirecturi="postmessage"
		  data-accesstype="offline"
		  data-cookiepolicy="single_host_origin"
		  data-callback="signInCallback"
		  data-approvalprompt="force">
		</span>
      </div>
      <!-- Google Login -->
	  <script>
	  function signInCallback(authResult) {
	    if (authResult['code']) {
	      // Hide the sign-in button now that the user is authorized
		  $('#signinButton').attr('style', 'display: none');
		  // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
		  $.ajax({
		    type: 'POST',
			url: '/gconnect?state={{STATE}}',
			processData: false,
			data: authResult['code'],
			contentType: 'application/octet-stream; charset=utf-8',
			success: function(result) {
			  // Handle or verify the server response if necessary.
			  if (result) {
			    $('#result').html('Login Successful! '+ result + ' Redirecting...')
			    setTimeout(function() {
			      window.location.href = "/restaurants";
			    }, 4000);
			  } else if (authResult['error']) {
			    console.log('There was an error: ' + authResult['error']);
			  } else {
			    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
			  }
		    }
	      });
	    }
	  }
	  </script>
    </div>
  </div>
{% endblock %}