{% extends "base.html" %}
{% block goback %}<a href="{{url_for('showRestaurant')}}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Go back</a>{% endblock %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">Add a Restaurant</div>
    <div class="panel-body">
	  <form action="{{url_for('newRestaurant')}}" method='POST'>
	    <input type='text' class="form-control" size='30' name='name', placeholder='Name'>
	    </br>
	    <textarea class="form-control" name='description', placeholder='Description'></textarea>
	    </br>
	    <input type='text' class="form-control" name='logo', placeholder='Logo link (300x300)'>
	    </br>
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	    <button type="submit" class="btn btn-primary">Create</button>
	  </form>
	</div>
  </div>
{% endblock %}