{% extends "base.html" %}
{% block content %}
  <h1>Edit {{item.name}}</h1>
  <form action="{{url_for('newMenuItem', restaurant_id=restaurant_id, item_id=item.id)}}" method='POST'>
    <input type='text' class="form-control" size='30' name='name', placeholder='{{item.name}}'>
    </br>
    <input type='text' class="form-control" size='30' name='description', placeholder='{{item.description}}'>
    </br>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" name='price' placeholder="{{item.price}}">
      <div class="input-group-addon">.00</div>
    </div>
    </br>
    <input type='text' class="form-control" size='30' name='course', placeholder='{{item.course}}'>
    </br>
    <button type="submit" class="btn btn-default">Update</button>
  </form>
{% endblock %}