{% extends "base.html" %}
{% block title %}{{restaurant.name}}{% endblock %}
{% block addcontent %}<a href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}">Add new menu item</a>{% endblock %}
{% block content %}
  <table class="table table-striped">
  	<thead>
  	  <tr>
  	  	<th>Item</th>
  	  	<th>Price</th>
  	  </tr>
  	</thead>
  	<tbody>
  	<!-- Logical Code -->
  	{% for item in items %}
  	<tr>
  	<td>{{item.name}}</td>
  	<td>{{item.price}}</td>
  	<td><a href="{{url_for('editMenuItem', restaurant_id=restaurant.id, item_id=item.id)}}">Edit</a></td>
  	<td><a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, item_id=item.id)}}">Delete</a></td>
  	</tr>
  	{% endfor %}
  	</tbody>
  </table>
{% endblock %}