{% extends "base.html" %}
{% block title %}List of Restaurants{% endblock %}
{% block addcontent %}<a href="{{url_for('newRestaurant')}}">Add Restaurant</a>{% endblock %}
{% block content %}
  <div class="row">
  <!-- Logical Code -->
  {% for restaurant in restaurants %}
  <div class="col-lg-4">
  <h2>{{restaurant.name}}</h2>
  <a href="{{url_for('showMenu', restaurant_id=restaurant.id)}}" class="btn btn-primary">Show the menu</a>
  <a href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}" class="btn btn-primary"> Edit</a>
  <a href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}" class="btn btn-danger"> Delete</a>
  </div>
  {% endfor %}
{% endblock %}